{% if form is defined %}
    {% form_theme form 'RednoseFrameworkBundle:Form:fields.html.twig' %}
{% endif %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title '' %}</title>

        {% block stylesheets %}
			<link href="{{ asset('bundles/rednoseframework/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block content '' %}
    </body>
</html>
