<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title '' %}</title>

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>

        {% block javascripts %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block content '' %}
    </body>
</html>
