{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% include 'RednoseFrameworkBundle:AssetAdmin:upload_button.html.twig' %}
    </div>
{% endblock %}

