<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/rednoseframework/bootstrap/css/bootstrap.min.css') }}"/>
    <style>
        .error-page {
            max-width: 800px;
            margin: 7% auto 0;
        }
    </style>
</head>
<body>
<div class="container error-page text-center">
    <div class="page-header">
        <h1>Pagina niet gevonden <small>(404)</small></h1>
    </div>
    <p class="lead">Helaas, de door u opgevraagde pagina bestaat niet.</p>
</div>
</body>
</html>
