{% extends 'RednoseFrameworkBundle::layout.html.twig' %}

{% block title %}{% trans %}not_found{% endtrans %}{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="page-header">
            <h1>Pagina niet gevonden <small>(404)</small></h1>
        </div>
        <p class="lead">Helaas, de door u opgevraagde pagina bestaat niet.</p>
    </div>
{% endblock %}

