<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/rednoseframework/bootstrap/css/bootstrap.min.css') }}"/>
    <style>
        .error-page {
            max-width: 800px;
            margin: 7% auto 0;
        }
    </style>
</head>
<body>
<div class="container error-page text-center">
    <div class="page-header">
        <h1>Serverfout <small>(500)</small></h1>
    </div>
    <p class="lead">Er heeft zich een fout voorgedaan op de server van deze applicatie.</p>
    <p>Neem contact op met de serverbeheerder.</p>
</div>
</body>
</html>
