[class^="rednose-icon-"],
[class*=" rednose-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/content-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

[class^="rednose-icon-"].icon-white,
[class*=" rednose-icon-"].icon-white,
.nav-pills > .active > a > [class^="rednose-icon-"],
.nav-pills > .active > a > [class*=" rednose-icon-"],
.nav-list > .active > a > [class^="rednose-icon-"],
.nav-list > .active > a > [class*=" rednose-icon-"],
.navbar-inverse .nav > .active > a > [class^="rednose-icon-"],
.navbar-inverse .nav > .active > a > [class*=" rednose-icon-"],
.dropdown-menu > li > a:hover > [class^="rednose-icon-"],
.dropdown-menu > li > a:focus > [class^="rednose-icon-"],
.dropdown-menu > li > a:hover > [class*=" rednose-icon-"],
.dropdown-menu > li > a:focus > [class*=" rednose-icon-"],
.dropdown-menu > .active > a > [class^="rednose-icon-"],
.dropdown-menu > .active > a > [class*=" rednose-icon-"],
.dropdown-submenu:hover > a > [class^="rednose-icon-"],
.dropdown-submenu:focus > a > [class^="rednose-icon-"],
.dropdown-submenu:hover > a > [class*=" rednose-icon-"],
.dropdown-submenu:focus > a > [class*=" rednose-icon-"] {
    background-image: url("../img/content-icons-white.png");
}

.rednose-icon-text {
    background-position: 0 0;
}

.rednose-icon-textarea {
    background-position: -24px 0;
}

.rednose-icon-dropdown {
    background-position: -48px 0;
}

.rednose-icon-radio {
    background-position: -72px 0;
}

.rednose-icon-checkbox {
    background-position: -96px 0;
}

.rednose-icon-date {
    background-position: -120px 0;
}
