{% block rednose_table_row %}
    {% spaceless %}
        <table class="table">
            <thead>
                <tr>
                    {% for label in table.columns|keys %}
                        <th>{{ label }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for record in table.records %}
                <tr>
                    {% for column in table.columns %}
                        <td>{{ attribute(record, column) }}</td>
                    {% endfor %}
                    <td>
                        {% if allow_edit %}
                            <button class="btn" type="button"><i class="icon-edit"></i></button>
                        {% endif %}
                        {% if allow_delete %}
                            <button class="btn" type="button"><i class="icon-remove"></i></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if allow_add %}
            <button class="btn" type="button">Add</button>
        {% endif %}
    {% endspaceless %}
{% endblock %}
